<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detail.css">
    <title>Detail</title>
</head>
<body>
    <header>
        <img src="../storage/img/arrow-left.png" alt="">
        <img src="../storage/img/arrow-left.png" alt="">
        <img src="../storage/img/product2.jpg" alt="">
    </header>

    <main>
        <section class="features">
            <div class="rating">
                <p>Light Dress Bless</p>
                <img src="../storage/img/star.png" alt="">
                <p>5.0</p>
                <p>(7.932 reviews)</p>
            </div>

            <div class="counter">
                 <div class="minus"></div>
                 <input type="number" value="1">
                 <div class="plus"></div>
            </div>
        </section>

        <section class="description">
            <details>
                <summary>Its simple and elegant shape makes it perfect for
                    those of you who like you who want minimalist
                    clothes</summary>
                    <p>that are both stylish and comfortable.</p>
            </details>   
        </section>

        <section class="color_size">
            <div class="size">
                <p>Choose Size</p>
                <ul>
                    <li>S</li>
                    <li>M</li>
                    <li>L</li>
                    <li>XL</li>
                </ul>
            </div>

            <div class="color">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </section>
    </main>
            <footer>
                <img src="../storage/img/shopping-cart.png" alt="">
                <a href="#">Add to Cart | $162.99</a>
                <p> $190.99</p>
            </footer>
   
</body>
</html>